@media (max-width:768px){
}

/* RESET */
body{
  margin:0;
  font-family:Arial, sans-serif;
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  background:#fff0cecb;
  padding:15px;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}