.contact-divider {
  height: 4px;
  width: 30%;
  margin: 0 auto;
  border-radius: 2px;
}

.contact-divider2 {
  height: 3px;
  width: auto;
  margin: 20px auto;
  border-radius: 2px;
}

.contact-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.contact-box h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

.titre h1 {
  font-weight: 600;
}

.ap {
  font-size: 1.5rem;
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-info i {
  color: black;
  font-size: 1.2rem;
}

