.cadre {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;

  margin: 40px auto;
  width: 90%;
  max-width: 1000px;

  padding: 30px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.apropos,
.competence {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-divider2 {
  height: 4px;
  background: #1e90ff; /* bleu */
  width: 100%;
  margin: 0px 0;
}

@media (max-width: 768px) {
  .cadre {
    grid-template-columns: 1fr;
  }
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  margin: 0 0 5px 0;
}

.bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 0;
  border-radius: 5px;
}

/* HTML - rouge */
.fill.html {
  width: 90%;
  background: red;
}

/* CSS - bleu clair */
.fill.css {
  width: 80%;
  background: deepskyblue;
}

/* JS - jaune */
.fill.js {
  width: 70%;
  background: gold;
}

/* PHP - vert */
.fill.php {
  width: 60%;
  background: green;
}

/* React - bleu foncé */
.fill.react {
  width: 50%;
  background: navy;
}

.apropos h3,
.competence h3 {
  font-weight: bold;
}