.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/hero-bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero h2 {
  font-size: 2.5rem;
  margin: 0;
}

.hero button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background: red;
  color: white;
  border: none;
}