.navbar {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  padding: 0px 20px;
}

/* Desktop menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0px 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.nav-links a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ACTIVE LINK */
.nav-links a.active {
  font-weight: bold;
  text-decoration: underline;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: black;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}