/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #111;
  line-height: 1.6;
}

/* ROOT REACT */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* LAYOUT PRINCIPAL */
main {
  flex: 1;
}

/* LIENS */
a {
  color: inherit;
  text-decoration: none;
}

/* BOUTONS GLOBAUX */
button {
  font-family: inherit;
  border: none;
}

/* Overlay sombre */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

/* La modale */
.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;

  width: 400px;
  max-width: 90%;

  position: relative;
  z-index: 1000;

  box-shadow: 0 20px 60px rgba(0,0,0,0.3);
}